{% extends 'base.html' %}
{% block content %}
<h1>Event</h1>

  

{% for i in event%}
<div class="card text-bg-dark mb-3 ">
   <div class="card-header">{{i.name}}</div><br>
   <div class="card-body">
     <h5 class="card-title">date      :  {{i.event_date}}</h5><br>
     <h5 class="card-title">venue     :  {{i.venue}}</h5><br>
     <h5 class="card-title">manager   :  {{i.manager}}</h5><br>
     <h5 class="card-title">participats:
     
   
   {% for j in i.participats.all%}
       {{j.first_name}}</h5>
   {%  endfor %}
   </div>
   {%if user.is_authenticated %}

         <div class="card-footer bg-transparent border-success">
            {% if user == i.manager %}
            <a href="{%url 'update-event' i.id%}" class="btn btn-success">update</a>
            <a href="{%url 'delete-event' i.id%}" class="btn btn-danger">delete</a>    
            {% endif %}
         </div>
   {% endif %}
  
</div>

   <br><br>

{% endfor %}
</ul>
{% endblock %}