{% extends 'base.html' %} {% block content %}

<form role="search" method="GET" action="{% url 'search-event' %}">
  {% csrf_token %}
  <input
    class="form-control me-2"
    type="search"
    placeholder="Search event"
    name="searched"
    aria-label="Search"
  /><br />
  <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>

{% if searched %}
<h1>You searched for "{{ searched }}"</h1>
{% if events %}
<div class="container">
  <ol class="list-group list-group-numbered">
    {% for event in events %}
    <table class="table table-hover table-striped-columns">
      <tr>
        <td class="align-middle">
          <a href="{% url 'show-event' event.id %}">{{ event.name }}</a>
        </td>
      </tr>
    </table>
    {% endfor %}
  </ol>
</div>
{% else %}
<p>No events found.</p>
{% endif %} {% else %}
<h1>Search for events</h1>
{% endif %} {% endblock %}
