{% extends 'base.html' %}
{% block content %}
{%if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    error in the form
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endif %}

<h1>register</h1>
<div class="shadow p-4 mb-5 bg-body rounded">


<div class="container">
    <form action="" method="POST">

        {% csrf_token %} 
        {{form.as_p}}

        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
</div>
</div>

{% endblock %}