<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Event
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'event'%}">Event</a></li>
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-event'%}">Add Event</a></li>  
            <li><a class="dropdown-item" href="{% url 'my_events'%}">My Event</a></li>  
            {% endif %}   
            <li><a class="dropdown-item" href="{% url 'search-event'%}">Search Event</a></li>       
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Venue
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'add-venue' %}">Add_Venue</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'list-venue' %}">Venue</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Downloads
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'venue-csv-file' %}">Venue csv</a></li>
            <li><a class="dropdown-item" href="{% url 'venue-txt-file' %}">Venue txt</a></li>           
            <li><a class="dropdown-item" href="{% url 'venue-pdf-file' %}">Venue pdf</a></li>
          </ul>
        </li>
        {%if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_user' %}">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">login</a>
        </li>
        {% endif %}
        
      </ul>
        <form class="d-flex" role="search" method="POST" action="{% url 'search-venue'%}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search venue" name="searched" aria-label="Search" >
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
    </div>
  </div>
</nav>